@import url(http://fonts.googleapis.com/css?family=Satisfy|Open+Sans+Condensed:700,300);
/* General Demo Style */

*,
*:before,
*:after { 
    padding: 0; 
    margin: 0; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html { height: 100%; }

body {
    font-family: 'Open Sans Condensed','Arial Narrow', serif;
    background: #DDD;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    color: #555;
    text-decoration: none;
}

.container {
    width: 100%;
    position: relative;
   
}

.main {
    width: 90%;
    min-height: 600px;
    margin-left: 300px;
    position: relative;

}

.container > header {
    margin: 10px;
    padding: 20px 10px 10px 10px;
    position: relative;
    display: block;
    text-align: center;
}

.container > header h1 {
    font-size: 36px;
    line-height: 36px;
    position: relative;
    font-weight: 300;
    color: #166c6f;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.container > header h2 {
    font-size: 14px;
    font-weight: 300;
    padding: 15px 0 20px 0;
    color: #134142;
    font-family: Cambria, Georgia, serif;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

/* Header Style */

.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    font-family: Cambria, Georgia, serif;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1
}

.codrops-top a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
}

.codrops-top a:hover {
    background: rgba(255,255,255,0.6)
}

.codrops-top span.right {
    float: right
}

.codrops-top span.right a {
    float: left;
    display: block;
}

/* Demo Buttons Style */

.codrops-demos {
    text-align: center;
    display: block;
    line-height: 30px;
    padding: 5px 0px;
}

.codrops-demos a {
    display: inline-block;
    margin: 0px 4px;
    padding: 0px 6px;
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    text-shadow: 1px 1px 1px #000000;
    border: 1px solid #000;
    background: #45484d;
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%);
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.codrops-demos a:hover {
    background: #000;
}

.codrops-demos a:active {
    background: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
    background: #666;
    border-color: #333;
    color: #ddd;
    box-shadow: 0 1px 1px rgba(255,255,255,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

p.info {
    font-family: Cambria, Georgia, serif;
    font-style: italic;
    color: #666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    padding: 20px;
    display: block;
    clear: both;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    line-height: 24px;
}

.support-note span {
    color: #ac375d;
    font-size: 16px;
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}

.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions {
    display: block;
}


.moveleft{padding: 10px;margin-left: -142px;margin-top: -88px; }

 .lastleft{padding: 10px;margin-top: -104px;margin-left: 310px;}
