
   .jumbotron  {background-color: #fff!important ;
   	padding-top: 10px!important ;}

    .rkblogo{margin-left:36px ;margin-top:60px ;}

    .rjladdeer{position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
     margin-top: 810px;
    
    margin-left: 100px;}

  .leftvaa, .sidep,.p1,.p2{font-family: 'cursive',arial,sans-serif;

    font-style: oblique; 
   font-size: 20px;}

   .pex1 {
    font-size: 36px;
    line-height: 1.4px;
    font-family: 'Vladimir Script',arial,sans-serif;
    line-height: 23px;}


    .pex2 {
    font-size: 24px;
    line-height: 1.4px;
     font-family: 'Stencil Std',arial,sans-serif;
    font-style: normal;
    line-height: 23px;
         margin-left: 41px;
    margin-top: 30px;}


.navbar-fixed-bottom {
    bottom: 0;
    margin-left: 446px;
     margin-right: 474px;}


 .navbar-inverse {background-color: #ffffff;
    border-color: #ffffff;   }


.nav navbar-nav ,li  {font-size: 19px;
    line-height: 1.4px;
     font-family: 'Stencil Std',arial,sans-serif;
    line-height: 23px;}

 .nowme {float:left; width:100%;margin-top: 269px; margin-left: 122px;

        font-size: 24px;
        line-height: 1.4px;
         font-family: 'Stencil Std',arial,sans-serif;
        line-height: 23px;} 

 .abome{float:left; width:100%;margin-top: 48px; margin-left: 91px;
         font-size: 198.17px;
        line-height: 1.4px;
        font-family: 'Walking in Sunlight',arial,sans-serif;
        line-height: 23px;
        color: #777;
        }  

 .meme {float:left; width:100%;margin-top: 27px; margin-left: 292px;


        font-size: 24px;
        line-height: 1.4px;
        font-family: 'Stencil Std',arial,sans-serif;
        line-height: 23px;} 
/*
.sidep  {float:left; width:100%;margin-top: 100px; margin-right:360px;
        font-size: 24px;
        line-height: 1.4px;
        font-family: 'Browallia New',arial,sans-serif;
        line-height: 23px;
       } */ 

.rjquote{margin-top: 214px;
    margin-left: 62px;}

.dder {margin-top: -1155px;}


.leftvaa,.sidep{margin-left: 467px; margin-top: 26px;
}

.p1{ margin-left: -9px;margin-top: 19px; }

.p2{ margin-left: 608px;margin-top: 6px; }

/*uitab
*/

.decof2{ margin-top: -55px; margin-left: 730px;}

.decof1{    margin-top: -107px;margin-left: 293px;}


.uiuser {float:left; width:100%;margin-top:  -167px; margin-left:  216px;
     
        text-align: right;
        font-size: 24px;
        line-height: 1.4px;
         font-family: 'Stencil Std',arial,sans-serif;
        line-height: 23px; } 

 .uinterface{float:left; width:100%;    margin-top: -79px;
    margin-left: 531px;text-align: right;
         font-size: 198.17px;
        line-height: 1.4px;
        font-family: 'Walking in Sunlight',arial,sans-serif;
        line-height: 23px;
        color: #777;
        }  

 .uidesign {float:left; width:100%;margin-top: 10px; margin-left: 445px;

        text-align: right;
        font-size: 24px;
        line-height: 1.4px;
         font-family: 'Stencil Std',arial,sans-serif;
        line-height: 23px;} 

.uip  {float:left; width:100%;margin-top: 100px; }



.uigallery{position: relative;margin-left:-617px;}

.uxquote3{margin-top: -269px;margin-left: 123px;}



/*uxtab
*/

.uxperson {float:left;     margin-top: -238px;margin-left: 144px;
     
        text-align: right;
        font-size: 24px;
        line-height: 1.4px;
         font-family: 'Stencil Std',arial,sans-serif;
        line-height: 23px; 
       } 

 .uxyears{float:left;    margin-top: -152px;
    margin-left: 30px;text-align: right;
         font-size: 198.17px;
        line-height: 1.4px;
        font-family: 'Walking in Sunlight',arial,sans-serif;
        line-height: 23px;
        color: #777;
        }  

 .conceptux {float:left; margin-top: -70px; margin-left: 40px;


        text-align: right;
        font-size: 24px;
        line-height: 1.4px;
         font-family: 'Stencil Std',arial,sans-serif;
        line-height: 23px;} 


.signaturerj{margin-left: 500px;margin-top:40px;}

.okjannu{ margin-top: 160px; 



            /* border-top: 1px solid #e5e5e5;
            border-left : 1px solid #e5e5e5;
            border-right : 1px solid #e5e5e5;
            border-bottom : 1px solid #e5e5e5;
*/
}

.okjannu li{margin-left: 29px; font-size: 14px;   }
.okjannu h4{  font-family: 'Stencil Std',arial,sans-serif;}

.okjannu a{ color: #0a0a0a;       font-family: sans-serif;}

.rjbutton{ background-color: #000000;border-color: #000000; margin-right: 109px;
    margin-top: 20px;}
.click{margin-left: 564px; margin-top: 100px;}


.slider {
  width: 90vmin;
  height: 90vmin;
  -webkit-perspective: 100vmin;
          perspective: 100vmin;
  margin: auto;
  -webkit-perspective-origin: top center;
          perspective-origin: top center;
  position: relative;
  box-sizing: border-box;
}
.slider__item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 15vmin;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.18s ease;
  transition: -webkit-transform 0.18s ease;
  transition: transform 0.18s ease;
  transition: transform 0.18s ease, -webkit-transform 0.18s ease;
}
.slider__item:nth-child(1) {
  -webkit-transform: translate3d(0, 0, 0vmin);
          transform: translate3d(0, 0, 0vmin);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  z-index: 7;
}
.slider__item:nth-child(2) {
  -webkit-transform: translate3d(0, 0, -15vmin);
          transform: translate3d(0, 0, -15vmin);
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  z-index: 6;
}
.slider__item:nth-child(3) {
  -webkit-transform: translate3d(0, 0, -30vmin);
          transform: translate3d(0, 0, -30vmin);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  z-index: 5;
}
.slider__item:nth-child(4) {
  -webkit-transform: translate3d(0, 0, -45vmin);
          transform: translate3d(0, 0, -45vmin);
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  z-index: 4;
}
.slider__item:nth-child(5) {
  -webkit-transform: translate3d(0, 0, -60vmin);
          transform: translate3d(0, 0, -60vmin);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  z-index: 3;
}
.slider__item:nth-child(6) {
  -webkit-transform: translate3d(0, 0, -75vmin);
          transform: translate3d(0, 0, -75vmin);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  z-index: 2;
}
.slider__item:nth-child(7) {
  -webkit-transform: translate3d(0, 0, -90vmin);
          transform: translate3d(0, 0, -90vmin);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  z-index: 1;
}
.slider__item:nth-child(8) {
  -webkit-transform: translate3d(0, 0, -105vmin);
          transform: translate3d(0, 0, -105vmin);
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
  z-index: 0;
}
.slider__image {
  width: 100%;
  height: 80%;
  background-color: #999;
  border: 1.5vmin solid #eee;
  box-sizing: border-box;
  box-shadow: 0px 3vmin 3vmin rgba(0, 0, 0, 0.75), 0 -1.5vmin 2.7vmin rgba(0, 0, 0, 0.75);
  overflow: hidden;
  display: block;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.18s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.18s ease;
  transition: transform 0.18s ease, opacity 0.2s ease;
  transition: transform 0.18s ease, opacity 0.2s ease, -webkit-transform 0.18s ease;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.slider__caption {
  height: 20%;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__btn {
 /* position: absolute;*/

  margin-top: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 9vmin;
  height: 9vmin;
  margin: -13vmin auto;
  border-right: 2vmin solid rgba(0, 0, 0, 0.8);
  border-bottom: 2vmin solid rgba(0, 0, 0, 0.8);
  cursor: pointer;
  -webkit-transform: perspective(10vmin) rotateX(-30deg) rotateZ(45deg);
          transform: perspective(10vmin) rotateX(-30deg) rotateZ(45deg);
}
.slider__btn:active {
  border-right-color: #000;
  border-bottom-color: #000;
  background-color: #a79f9f;
}
.rwork{ margin-left: 637px;margin-top: -291px; font-size: 24px;
        font-family: 'Stencil Std',arial,sans-serif;}
.makectr{margin-left: 60px;}

.uxquote2{margin-top: -186px;margin-left: -625px;}





.copyright {
    color: #6D6D6D;
    background:#ffffff;
    padding: 20px 0;
}
.topHome{margin-left: 990px;   font-size: 24px;font-family:'Stencil Std',arial,sans-serif;
text-decoration: none;color:#000;}


/*
---------Media Quires------------*/

@media only screen and (max-width:320px) {
    /* For tablets: */
    .rjquote {width: 100%; height:100%;margin-top: 20px;}
    .img-circle{width: 100%; height:100%;}
    .nowme{margin-left: 10px; margin-top: 20px;}
    .abome{margin-left: 10px;}
    .meme{margin-left: 10px;}
    .dder{width: 80%;margin-left: 10px;}
    .leftvaa{width: 300%; height:300%;margin-left: 10px;}
    
}

@media only screen and (max-width:1000px)
{.leftvaa{width: 100%; height:100%;}
    
}
@media only screen and (max-width:970px)
{.rjquote{margin-top: 10px;}
.sidep{margin-left: 20px;}
.firstleftmove{margin-left: 20px;}
.rjladdeer{display: none;}
.uiuser{margin-left: 20px;}
.uinterface{ margin-left: -309px;margin-top: 63px;}
.uidesign{ margin-left:  -713px; margin-top: 128px;}
.uxquote2{     margin-left: -408px; margin-top: 179px;}
.p1{ margin-left: 20px; margin-top: 20px;}
 .moveleft{margin-left: 30px;}
.uxperson{ margin-left: 42px;margin-top:-222px;}
.uxyears{margin-left: 68px;margin-top: -110px;}
.conceptux{ margin-left: 300px;margin-top: -12px;}
.uxquote3{ margin-left: 10px;margin-top: 10px;}
.p2{ margin-left: 30px;}
.lastleft{ margin-left: 30px;}
.okjannu{margin-left: 30px;}
.signaturerj{margin-left: 300px;}
.decof2{margin-left: 600px;}
.decof1{margin-left: 100px;}
.topHome{margin-left: 30px;margin-top: 200px;}